process.executor = 'slurm'

executor {
    name            = "slurm"
    queueSize       = 1000
    submitRateLimit = "5/1sec"
    exitReadTimeout = "30 min"
    jobName         = {
        task.name
            .replace("[", "(")
            .replace("]", ")")
            .replace(" ", "_")
    }
}

singularity {
    enabled = true
}

process {
    resourceLimits = [
      cpus: 32,
      memory: 256.GB,
      time: 7.d
    ]
    withLabel:process_low {
      cpus   = { 2 * task.attempt }
      memory = { 14.GB * task.attempt ** 2 }
      time   = { 1.h  * task.attempt }
    }
    withLabel:process_medium {
      cpus   = { 6  * task.attempt }
      memory = { 42.GB * task.attempt }
      time   = { 1.h * task.attempt ** 2 }
    }
    withLabel:process_high {
      cpus   = { 12 * task.attempt }
      memory = { 84.GB * task.attempt }
      time   = { 1.h * task.attempt ** 4 }
    }
  }

process {
    withName: 'NFCORE_SAREK:SAREK:FASTQ_ALIGN_BWAMEM_MEM2_DRAGMAP_SENTIEON:BWAMEM2_MEM' {
        memory = { 60.GB * task.attempt }
    }
}
process {
    withName: 'NFCORE_SAREK:SAREK:BAM_APPLYBQSR:GATK4_APPLYBQSR' {
        time   = { 4.h * task.attempt ** 2 }
    }
}
process {
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_TUMOR_ONLY_ALL:BAM_VARIANT_CALLING_TUMOR_ONLY_MUTECT2:MUTECT2' {
        time   = { 4.h * task.attempt ** 2 }
    }
}
process {
  withName: 'NFCORE_CIRCRNA:CIRCRNA:BSJ_DETECTION:SEGEMEHL:ALIGN' {
    memory = '199 GB'
  }
}
