process.executor = 'slurm'

executor {
    name            = "slurm"
    queueSize       = 1000
    submitRateLimit = "5/1sec"
    exitReadTimeout = "30 min"
    jobName         = {
        task.name
            .replace("[", "(")
            .replace("]", ")")
            .replace(" ", "_")
    }
}

singularity {
    enabled = true
    pullTimeout = '1h'
}

process {
    maxRetries = 5
    resourceLimits = [
      cpus: 32,
      memory: 2.TB,
      time: 7.d
    ]
    withLabel:process_low {
      cpus   = { 2 * task.attempt }
      memory = { 14.GB * task.attempt ** 2 }
      time   = { 1.h  * task.attempt }
    }
    withLabel:process_medium {
      cpus   = { 6  * task.attempt }
      memory = { 42.GB * task.attempt }
      time   = { 1.h * task.attempt ** 2 }
    }
    withLabel:process_high {
      cpus   = { 12 * task.attempt }
      memory = { 84.GB * task.attempt }
      time   = { 1.h * task.attempt ** 4 }
    }
  }

process {
    withName: 'NFCORE_SAREK:SAREK:FASTQ_ALIGN_BWAMEM_MEM2_DRAGMAP_SENTIEON:BWAMEM2_MEM' {
        memory = { 60.GB * task.attempt }
    }
}
process {
    withName: 'NFCORE_SAREK:SAREK:BAM_APPLYBQSR:GATK4_APPLYBQSR' {
        time   = { 4.h * task.attempt ** 2 }
    }
}
process {
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_TUMOR_ONLY_ALL:BAM_VARIANT_CALLING_TUMOR_ONLY_MUTECT2:MUTECT2' {
        time   = { 4.h * task.attempt ** 2 }
    }
}
process {
  withName: 'NFCORE_CIRCRNA:CIRCRNA:BSJ_DETECTION:SEGEMEHL:ALIGN' {
    memory = '199 GB'
  }
}
process {
  withName: 'NFCORE_CIRCRNA:CIRCRNA:BSJ_DETECTION:INVESTIGATE_SHIFTS' {
    memory = '199 GB'
  }
}
process {
  withName: 'NFCORE_CIRCRNA:CIRCRNA:QUANTIFICATION:CIRIQUANT:MAIN' {
    memory = '150 GB'
  }
}
process {
  withName: 'NFCORE_CIRCRNA:CIRCRNA:BSJ_DETECTION:CIRIQUANT:MAIN' {
    memory = '170 GB'
    time   = '7d'
  }
}
process {
  withName: 'NFCORE_RNAVAR:RNAVAR:SPLITNCIGAR:GATK4_SPLITNCIGARREADS' {
    memory = '30 GB'
  }
}
process {
  withName: 'NFCORE_RNASPLICE:RNASPLICE:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
    memory = '200 GB'
  }
}
process {
  withName: 'NFCORE_RNAFUSION:RNAFUSION:ARRIBA_WORKFLOW:ARRIBA' {
    memory = '800 GB'
    cpus = 2
    time   = { 24.h * task.attempt ** 2 }
  }
}
process {
  withName: 'NFCORE_RNAFUSION:RNAFUSION:FUSIONCATCHER_WORKFLOW:FUSIONCATCHER' {
    memory = '600 GB'
    cpus = 2
    time   = { 72.h * task.attempt ** 2 }
  }
}
